<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878691183810-qi24grc7pbcp330mlf672d6duac358m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878691183810-qi24grc7pbcp330mlf672d6duac358m2</string>
	<key>API_KEY</key>
	<string>AIzaSyAQT2FNZrxghl9FCImnpwGIBxHr87Rtwnw</string>
	<key>GCM_SENDER_ID</key>
	<string>878691183810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mr.DelicieuxCafe</string>
	<key>PROJECT_ID</key>
	<string>delicieuxcafe-fb4ea</string>
	<key>STORAGE_BUCKET</key>
	<string>delicieuxcafe-fb4ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878691183810:ios:b14bbd523b571dad5a5f5b</string>
</dict>
</plist>